@tailwind base;
@tailwind components;
@tailwind utilities;

.cabecero {
  height: 5vh;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  color: #fff;
  background: url(assets/bg-pattern.png), #53093d;
  background: url(assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#7b2834), to(#7b145c));
  background: url(assets/bg-pattern.png), linear-gradient(to left, #3b76a9, #195e19)
}
.foot {
  background: linear-gradient(to left, #3b76a9, #195e19);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
